 /* page index */
 .container-reserv {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
    


     .loca {
         height: 50px;
         background: #eaeaea;
         display: flex;
         flex-wrap: nowrap;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         width: auto;
     }

     i.fa-solid.fa-location-dot {
         font-size: larger;
         margin-right: 1em;
     }
 }

 .reserv-men {
     margin: 0;
     display: block;
     background: #F7F7F7;
     padding: 1em;
     a {
        text-decoration: none;
    }
     h1 {
         margin: 1em;
         text-align: center;
     }

     p {
         text-align: center;
         color: #353535;
     }

     .btn-comm {
         background: linear-gradient(#ed6fda, #9f57dd);
         border-radius: 28px;
         border: none;
         box-shadow: 1px 2px 6px #505050;
         width: 218px;
         margin: auto;
         color: white;
         height: 3em;
         position: relative;
         display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             justify-content: space-around;
             align-content: space-around;
             align-items: center;

     }

     .btn-comm:hover {
         background: linear-gradient(#fac4f2, #9f57dd);
     }
 }

 .fonct.tox {
     background: #f7f7f7;
     width: 100%;

     .tibox {
         margin: auto;
         width: 80%;
         margin-top: 2em;
     }
 }

 .fonct {
     height:auto;
     background: #FFFFFF;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     width: 80%;
     margin: auto;
     
     .block-conf {
         display: flex;
         width: 100%;
         flex-direction: row;
         flex-wrap: nowrap;
         align-items: center;
         justify-content: space-around;
         margin-bottom: 2em;
         .bill {

             background: #9356dc;
             color: white;
             left: -25px;
             position: relative;
             padding: 4px;
             border-radius: 1em;
             width: 20px;
             height: 20px;
             text-align: center;
             display: inline-block;

         }

         .cont-fon {

             width: 300px;
             background: #F7F7F7;
             box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
             border-radius: 20px;
             display: flex;
             padding: 1em;
             align-items: center;
             flex-direction: row;
             flex-wrap: nowrap;
             justify-content: flex-start;
             margin: 1%;



             .ico-sol {
                 margin: 0 1em;
                 display: inline-block;
                 color: #9356dc;
             }
         }

         .choz {
             display: inline-block;
         }
     }
 }

 .restorant {
     background: #f6f6f6;
     padding: 2em;
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;

     .block-rest {
         width: 40%;
         border-radius: 12px;
         -webkit-border-radius: 12px;
         -moz-border-radius: 12px;
         -ms-border-radius: 12px;
         -o-border-radius: 12px;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: flex-start;
         background: white;
         margin: 1em 1em;


         .img-rest {
             width: 100%;
             height: 251px;
             position: relative;
             object-position: center;
             object-fit: contain;

             img {
                 width: -webkit-fill-available;
                 height: -webkit-fill-available;
                 border-radius: 12px 12px 0 0;
                 object-fit: cover;
                 -webkit-border-radius: 12px 12px 0 0;
                 -moz-border-radius: 12px 12px 0 0;
                 -ms-border-radius: 12px 12px 0 0;
                 -o-border-radius: 12px 12px 0 0;
             }

         }

         .unbl-rest {
             width: 100%;
             display: block;
             padding: 1em;

             h3.tit-blo {
                 margin: 0;
             }

             p {
                 margin: 0;
             }

             a {
                text-decoration: none;
                color: black;
            }
         }

         /** coeur */
         .coeur {
             display: block;
             position: relative;
             float: right;
         }

         .coeur-vide {

             position: relative;
             display: block;
             font-size: 30px;


         }


         .coeure-plein {

             right: 15px;
             position: relative;
             opacity: 0;
             display: none;

         }

         @keyframes taadaa {
             0% {
                 opacity: 0;
                 display: none;
             }

             100% {
                 opacity: 1;
                 display: block;
             }
         }

         /*   line 1 */
         .btnControl {
             display: none;
         }



         .btnControl:hover+label>.coeure-plein {


             right: 0px;
             position: relative;
             opacity: 1;
             display: block;
             font-size: 30px;
             background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
             background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
             background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
             -webkit-background-clip: text;
             -moz-background-clip: text;
             background-clip: text;
             -webkit-text-fill-color: transparent;
             animation: taadaa 5s;
             -webkit-animation: taadaa 5s;
             animation-fill-mode: forwards;
             -webkit-animation-fill-mode: forwards;
         }


         .btnControl:hover+label>.coeur-vide {
             display: none;
         }

         /*   line 1 */

         /*   line 2 */
         .coeur-vide2 {

             position: relative;
             display: block;
             font-size: 30px;


         }


         .coeure-plein2 {

             right: 15px;
             position: relative;
             opacity: 0;
             display: none;

         }

         .btnControl2 {
             display: none;
         }



         .btnControl2:hover+label>.coeure-plein2 {
             right: 0px;
             position: relative;
             opacity: 1;
             display: block;
             font-size: 30px;
             background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
             background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
             background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
             -webkit-background-clip: text;
             -moz-background-clip: text;
             background-clip: text;
             -webkit-text-fill-color: transparent;
             animation: taadaa 5s;
             -webkit-animation: taadaa 5s;
             animation-fill-mode: forwards;
             -webkit-animation-fill-mode: forwards;
         }


         .btnControl2:hover+label>.coeur-vide2 {
             display: none;
         }

         /*   line 2 */


         /*   line 3 */
         .coeur-vide3 {

             position: relative;
             display: block;
             font-size: 30px;


         }


         .coeure-plein3 {

             right: 15px;
             position: relative;
             opacity: 0;
             display: none;

         }

         .btnControl3 {
             display: none;
         }



         .btnControl3:hover+label>.coeure-plein3 {
             right: 0px;
             position: relative;
             opacity: 1;
             display: block;
             font-size: 30px;
             background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
             background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
             background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
             -webkit-background-clip: text;
             -moz-background-clip: text;
             background-clip: text;
             -webkit-text-fill-color: transparent;
             animation: taadaa 5s;
             -webkit-animation: taadaa 5s;
             animation-fill-mode: forwards;
             -webkit-animation-fill-mode: forwards;
         }


         .btnControl3:hover+label>.coeur-vide3 {
             display: none;
         }

         /*   line 3 */

         /*   line 4 */
         .coeur-vide4 {

             position: relative;
             display: block;
             font-size: 30px;


         }


         .coeure-plein4 {

             right: 15px;
             position: relative;
             opacity: 0;
             display: none;

         }

         .btnControl4 {
             display: none;
         }



         .btnControl4:hover+label>.coeure-plein4 {
             right: 0px;
             position: relative;
             opacity: 1;
             display: block;
             font-size: 30px;
             background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
             background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
             background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
             -webkit-background-clip: text;
             -moz-background-clip: text;
             background-clip: text;
             -webkit-text-fill-color: transparent;
             animation: taadaa 5s;
             -webkit-animation: taadaa 5s;
             animation-fill-mode: forwards;
             -webkit-animation-fill-mode: forwards;
         }


         .btnControl4:hover+label>.coeur-vide4 {
             display: none;
         }

         /*   line 4 */
         /** coeur */


     }






 }






 /* page index */


 /****** Media queries ***********/
 /* Medium devices (tablets, less/equal than 1024px) */
 @media (max-width: 1024px) {

     /* page index */
     .container-reserv {
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 500;
         font-size: 16px;
         line-height: 19px;



         .loca {
             height: 50px;
             background: #eaeaea;
             display: flex;
             flex-wrap: nowrap;
             flex-direction: row;
             justify-content: center;
             align-items: center;
             width: auto;
         }


     }

     .reserv-men {
         margin: 0;
         display: block;
         background: #F7F7F7;
         padding: 1em;

    
        a {
            text-decoration: none;
        }
         h1 {
             margin: 1em;
             text-align: center;
         }

         p {
             text-align: center;
             color: #353535;
         }

         .btn-comm {
             background: linear-gradient(#ed6fda, #9f57dd);
             border-radius: 28px;
             border: none;
             box-shadow: 1px 2px 6px #505050;
             width: 218px;
             margin: auto;
             color: white;
             height: 3em;
             position: relative;
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             justify-content: space-around;
             align-content: space-around;
             align-items: center;

         }

         .btn-comm:hover {
             background: linear-gradient(#fac4f2, #9f57dd);
         }
     }

     .fonct.tox {
         background: #f7f7f7;
         width: 100%;

         .tibox {
             margin: auto;
             width: 80%;
             margin-top: 2em;
         }
     }

     .fonct {
         height: auto;
         background: #FFFFFF;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         width: 95%;
         margin: auto;
        

         .block-conf {
             display: flex;
             width: 100%;
             flex-direction: row;
             flex-wrap: nowrap;
             align-items: center;
             justify-content: space-around;
             margin-bottom: 2em;
             .bill {

                 background: #9356dc;
                 color: white;
                 left: -25px;
                 position: relative;
                 padding: 4px;
                 border-radius: 1em;
                 width: 20px;
                 height: 20px;
                 text-align: center;
                 display: inline-block;

             }

             .cont-fon {

                 width: 300px;
                 background: #F7F7F7;
                 box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                 border-radius: 20px;
                 display: flex;
                 padding: 1em;
                 align-items: center;
                 flex-direction: row;
                 flex-wrap: nowrap;
                 justify-content: flex-start;
                 margin: 1%;


                 .ico-sol {
                     margin: 0 1em;
                     display: inline-block;
                 }
             }

             .choz {
                 display: inline-block;
             }
         }
     }

     .restorant {
         background: #f6f6f6;
         padding: 2em;
         display: flex;
         flex-direction: row;
         justify-content: center;
         flex-wrap: wrap;
         align-items: center;

         .block-rest {
             width: 40%;
             border-radius: 12px;
             -webkit-border-radius: 12px;
             -moz-border-radius: 12px;
             -ms-border-radius: 12px;
             -o-border-radius: 12px;
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             justify-content: flex-start;
             background: white;
             margin: 1em 1em;


             .img-rest {
                 width: 100%;
                 height: 251px;
                 position: relative;
                 object-position: center;
                 object-fit: contain;

                 img {
                     width: -webkit-fill-available;
                     height: -webkit-fill-available;
                     border-radius: 12px 12px 0 0;
                     object-fit: cover;
                     -webkit-border-radius: 12px 12px 0 0;
                     -moz-border-radius: 12px 12px 0 0;
                     -ms-border-radius: 12px 12px 0 0;
                     -o-border-radius: 12px 12px 0 0;
                 }

             }

             .unbl-rest {
                 width: 100%;
                 display: block;
                 padding: 1em;

                 h3.tit-blo {
                     margin: 0;
                 }

                 p {
                     margin: 0;
                 }


             }

             /** coeur */
             .coeur {
                 display: block;
                 position: relative;
                 float: right;
             }

             .coeur-vide {

                 position: relative;
                 display: block;
                 font-size: 30px;


             }


             .coeure-plein {

                 right: 15px;
                 position: relative;
                 opacity: 0;
                 display: none;

             }

             @keyframes taadaa {
                 0% {
                     opacity: 0;
                     display: none;
                 }

                 100% {
                     opacity: 1;
                     display: block;
                 }
             }

             /*   line 1 */
             .btnControl {
                 display: none;
             }



             .btnControl:hover+label>.coeure-plein {


                 right: 0px;
                 position: relative;
                 opacity: 1;
                 display: block;
                 font-size: 30px;
                 background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
                 -webkit-background-clip: text;
                 -moz-background-clip: text;
                 background-clip: text;
                 -webkit-text-fill-color: transparent;
                 animation: taadaa 5s;
                 -webkit-animation: taadaa 5s;
                 animation-fill-mode: forwards;
                 -webkit-animation-fill-mode: forwards;
             }


             .btnControl:hover+label>.coeur-vide {
                 display: none;
             }

             /*   line 1 */

             /*   line 2 */
             .coeur-vide2 {

                 position: relative;
                 display: block;
                 font-size: 30px;


             }


             .coeure-plein2 {

                 right: 15px;
                 position: relative;
                 opacity: 0;
                 display: none;

             }

             .btnControl2 {
                 display: none;
             }



             .btnControl2:hover+label>.coeure-plein2 {
                 right: 0px;
                 position: relative;
                 opacity: 1;
                 display: block;
                 font-size: 30px;
                 background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
                 -webkit-background-clip: text;
                 -moz-background-clip: text;
                 background-clip: text;
                 -webkit-text-fill-color: transparent;
                 animation: taadaa 5s;
                 -webkit-animation: taadaa 5s;
                 animation-fill-mode: forwards;
                 -webkit-animation-fill-mode: forwards;
             }


             .btnControl2:hover+label>.coeur-vide2 {
                 display: none;
             }

             /*   line 2 */


             /*   line 3 */
             .coeur-vide3 {

                 position: relative;
                 display: block;
                 font-size: 30px;


             }


             .coeure-plein3 {

                 right: 15px;
                 position: relative;
                 opacity: 0;
                 display: none;

             }

             .btnControl3 {
                 display: none;
             }



             .btnControl3:hover+label>.coeure-plein3 {
                 right: 0px;
                 position: relative;
                 opacity: 1;
                 display: block;
                 font-size: 30px;
                 background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
                 -webkit-background-clip: text;
                 -moz-background-clip: text;
                 background-clip: text;
                 -webkit-text-fill-color: transparent;
                 animation: taadaa 5s;
                 -webkit-animation: taadaa 5s;
                 animation-fill-mode: forwards;
                 -webkit-animation-fill-mode: forwards;
             }


             .btnControl3:hover+label>.coeur-vide3 {
                 display: none;
             }

             /*   line 3 */

             /*   line 4 */
             .coeur-vide4 {

                 position: relative;
                 display: block;
                 font-size: 30px;


             }


             .coeure-plein4 {

                 right: 15px;
                 position: relative;
                 opacity: 0;
                 display: none;

             }

             .btnControl4 {
                 display: none;
             }



             .btnControl4:hover+label>.coeure-plein4 {
                 right: 0px;
                 position: relative;
                 opacity: 1;
                 display: block;
                 font-size: 30px;
                 background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
                 -webkit-background-clip: text;
                 -moz-background-clip: text;
                 background-clip: text;
                 -webkit-text-fill-color: transparent;
                 animation: taadaa 5s;
                 -webkit-animation: taadaa 5s;
                 animation-fill-mode: forwards;
                 -webkit-animation-fill-mode: forwards;
             }


             .btnControl4:hover+label>.coeur-vide4 {
                 display: none;
             }

             /*   line 4 */
             /** coeur */


         }






     }






     /* page index */

 }

 /* Small devices (phones, less than 768px) */
 @media (max-width: 767.98px) {

     /* page index */
     .container-reserv {
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 500;
         font-size: 16px;
         line-height: 19px;
         img.logo {
            width: 40% !important;
            margin: 1em auto !important;
            display: block;
            margin-top: 1em;
            margin-bottom: 1em;
        }



         .loca {
             height: 50px;
             background: #eaeaea;
             display: flex;
             flex-wrap: nowrap;
             flex-direction: row;
             justify-content: center;
             align-items: center;
             width: auto;
         }


     }

     .reserv-men {
         margin: 0;
         display: block;
         background: #F7F7F7;
         padding: 1em;
         a {
            text-decoration: none;
        }
         h1 {
             margin: 1em;
             font-weight: 700;
             font-size: 24px;
             line-height: 28px;
             text-align: center;
         }

         p {
             text-align: center;
             color: #353535;
         }

         .btn-comm {
             background: linear-gradient(#ed6fda, #9f57dd);
             border-radius: 28px;
             border: none;
             box-shadow: 1px 2px 6px #505050;
             width: 60%;
             margin: auto;
             color: white;
             height: 3em;
             position: relative;
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             justify-content: space-around;
             align-content: space-around;
             align-items: center;

         }

         .btn-comm:hover {
             background: linear-gradient(#fac4f2, #9f57dd);
         }
     }

     .fonct.tox {
         background: #f7f7f7;
         width: 100%;

         .tibox {
             margin: auto;
             width: 80%;
             margin-top: 1em;
         }
     }

     .fonct {
        height: auto;
         background: #FFFFFF;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         width: 80%;
         margin: auto;
         

         .block-conf {
             display: flex;
             width: 100%;
             flex-direction: row;
             flex-wrap: wrap;
             align-items: center;
             justify-content: space-around;
             margin-bottom: 2em;
             .bill {
                 background: #9356dc;

                 background: #9356dc;
                 color: white;
                 left: -25px;
                 position: relative;
                 padding: 4px;
                 border-radius: 1em;
                 width: 20px;
                 height: 20px;
                 text-align: center;
                 display: inline-block;

             }

             .cont-fon {

                 width: 80%;
                 background: #F7F7F7;
                 box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                 border-radius: 20px;
                 display: flex;
                 padding: 1em;
                 align-items: center;
                 flex-direction: row;
                 flex-wrap: nowrap;
                 justify-content: flex-start;
                 margin: 1%;
                 height: 50px;



                 .ico-sol {
                     margin: 0 1em;
                     display: inline-block;
                 }
             }

             .choz {
                 display: inline-block;
             }
         }
     }

     .restorant {
        background: #f6f6f6;
        padding: unset;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        width: 90%;
        margin: auto;
         .block-rest {
            width: 100%;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            background: white;
            margin: auto;
            margin-bottom: 2em;



             .img-rest {
                 width: 100%;
                 height: 251px;
                 position: relative;
                 object-position: center;
                 object-fit: contain;

                 img {
                     width: -webkit-fill-available;
                     height: -webkit-fill-available;
                     border-radius: 12px 12px 0 0;
                     object-fit: cover;
                     -webkit-border-radius: 12px 12px 0 0;
                     -moz-border-radius: 12px 12px 0 0;
                     -ms-border-radius: 12px 12px 0 0;
                     -o-border-radius: 12px 12px 0 0;
                 }

             }

             .unbl-rest {
                 width: 100%;
                 display: block;
                 padding: 1em;

                 h3.tit-blo {
                     margin: 0;
                 }

                 p {
                     margin: 0;
                 }


             }

             /** coeur */
             .coeur {
                 display: block;
                 position: relative;
                 float: right;
             }

             .coeur-vide {

                 position: relative;
                 display: block;
                 font-size: 30px;


             }


             .coeure-plein {

                 right: 15px;
                 position: relative;
                 opacity: 0;
                 display: none;

             }

             @keyframes taadaa {
                 0% {
                     opacity: 0;
                     display: none;
                 }

                 100% {
                     opacity: 1;
                     display: block;
                 }
             }

             /*   line 1 */
             .btnControl {
                 display: none;
             }



             .btnControl:hover+label>.coeure-plein {


                 right: 0px;
                 position: relative;
                 opacity: 1;
                 display: block;
                 font-size: 30px;
                 background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
                 -webkit-background-clip: text;
                 -moz-background-clip: text;
                 background-clip: text;
                 -webkit-text-fill-color: transparent;
                 animation: taadaa 5s;
                 -webkit-animation: taadaa 5s;
                 animation-fill-mode: forwards;
                 -webkit-animation-fill-mode: forwards;
             }


             .btnControl:hover+label>.coeur-vide {
                 display: none;
             }

             /*   line 1 */

             /*   line 2 */
             .coeur-vide2 {

                 position: relative;
                 display: block;
                 font-size: 30px;


             }


             .coeure-plein2 {

                 right: 15px;
                 position: relative;
                 opacity: 0;
                 display: none;

             }

             .btnControl2 {
                 display: none;
             }



             .btnControl2:hover+label>.coeure-plein2 {
                 right: 0px;
                 position: relative;
                 opacity: 1;
                 display: block;
                 font-size: 30px;
                 background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
                 -webkit-background-clip: text;
                 -moz-background-clip: text;
                 background-clip: text;
                 -webkit-text-fill-color: transparent;
                 animation: taadaa 5s;
                 -webkit-animation: taadaa 5s;
                 animation-fill-mode: forwards;
                 -webkit-animation-fill-mode: forwards;
             }


             .btnControl2:hover+label>.coeur-vide2 {
                 display: none;
             }

             /*   line 2 */


             /*   line 3 */
             .coeur-vide3 {

                 position: relative;
                 display: block;
                 font-size: 30px;


             }


             .coeure-plein3 {

                 right: 15px;
                 position: relative;
                 opacity: 0;
                 display: none;

             }

             .btnControl3 {
                 display: none;
             }



             .btnControl3:hover+label>.coeure-plein3 {
                 right: 0px;
                 position: relative;
                 opacity: 1;
                 display: block;
                 font-size: 30px;
                 background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
                 -webkit-background-clip: text;
                 -moz-background-clip: text;
                 background-clip: text;
                 -webkit-text-fill-color: transparent;
                 animation: taadaa 5s;
                 -webkit-animation: taadaa 5s;
                 animation-fill-mode: forwards;
                 -webkit-animation-fill-mode: forwards;
             }


             .btnControl3:hover+label>.coeur-vide3 {
                 display: none;
             }

             /*   line 3 */

             /*   line 4 */
             .coeur-vide4 {

                 position: relative;
                 display: block;
                 font-size: 30px;


             }


             .coeure-plein4 {

                 right: 15px;
                 position: relative;
                 opacity: 0;
                 display: none;

             }

             .btnControl4 {
                 display: none;
             }



             .btnControl4:hover+label>.coeure-plein4 {
                 right: 0px;
                 position: relative;
                 opacity: 1;
                 display: block;
                 font-size: 30px;
                 background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
                 background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
                 -webkit-background-clip: text;
                 -moz-background-clip: text;
                 background-clip: text;
                 -webkit-text-fill-color: transparent;
                 animation: taadaa 5s;
                 -webkit-animation: taadaa 5s;
                 animation-fill-mode: forwards;
                 -webkit-animation-fill-mode: forwards;
             }


             .btnControl4:hover+label>.coeur-vide4 {
                 display: none;
             }

             /*   line 4 */
             /** coeur */



         }
     }
 }