$myfont: 'Shrikhand' 1.2em;
$table_head_col: #F7F7F7;
$table_row_col: #eee;
$table_bor_col: #eee;
$container_width: 100%;
$first_col_width: 150px;

@media (max-width: 767.98px) {

    html {
        height: 100%;
    }

    body {
        margin: 0 !important;
        margin: 0;
        padding: 0;
    }

    nav {
        height: 17em;
    }

    ul.head {
        list-style-type: none;
        margin: auto;
        padding: 0;

        img.logo {
            width: 80%;
            margin: auto;
            display: block;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        img.imgf {
            width: 100%;
        }
    }


    div.container {
        margin: auto;
        font-family: $myfont;
        background: $table_head_col;
        min-height: 46em;
        padding: 1em 1em;
        border-radius: 40px 40px 0px 0px;
        -webkit-border-radius: 40px 40px 0px 0px;
        -moz-border-radius: 40px 40px 0px 0px;
        -ms-border-radius: 40px 40px 0px 0px;
        -o-border-radius: 40px 40px 0px 0px;
        width: auto;
        display: block;
        position: relative;
        h1{
           
            font-family: 'Shrikhand';
            font-style: italic;
            font-weight: bold;
            font-weight: 400;
            font-size: 28px;
            line-height: 41px;
            i.fa-regular.fa-heart {
                margin-left: 5em;
            }
        }
        h2 {
            font-family: monospace;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 19px;
            text-transform: uppercase;
            border-bottom: 3px solid #99e2d0;
            width: 10%;
            padding: 7px 0px;
        }
        .vali {
            visibility: initial;
            height: 55px;
            opacity: 0;
            position: absolute;
            width: 85%;

        }

        :hover.vali {
            visibility: visible;
            display: inline;
            opacity: 1;
            display: inline-block;
            float: right;
            height: 40px;
            width: 15%;
            background: #00d1a1;
            padding: 1em;
            top: -1em;
            position: relative;
            color: white;
            border-radius: 0px 16px 16px 0px;
            left: 16px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;

            i.fa-solid.fa-circle-check {
                font-size: xx-large;
                padding: 0px 6px;
            }

          
        }

        .arti {
            background: #FFFFFF;
            padding: 1em;
            border-radius: 1em;
            box-shadow: 1px 3px 5px rgb(58 58 58 / 53%);
            margin-bottom: 1em;
            animation-duration: 5s;
            animation-name: shownom;
   

    
    @keyframes shownom {
        0% { height: 40px;
            visibility: hidden;opacity:0 ; transform: translateY(-4vh);
            -webkit-transform: translateY(-5vh);
            -moz-transform: translateY(-5vh);
            -ms-transform: translateY(-5vh);
            -o-transform: translateY(-5vh);
           }
        
     
        
      
        100% {
            margin-bottom: 1em;
            visibility:visible ;
            opacity:1;
            position: relative;
            transform: translateY(-0vh);
            -webkit-transform: translateY(-0vh);
            -moz-transform: translateY(-0vh);
            -ms-transform: translateY(-0vh);
            -o-transform: translateY(-0vh);
}
      }

    @keyframes slidein {
        from {
            
            
          
            visibility: hidden;
            position: relative;
            transform: translateY(-4vh);
            -webkit-transform: translateY(-4vh);
            -moz-transform: translateY(-4vh);
            -ms-transform: translateY(-4vh);
            -o-transform: translateY(-4vh);
}
      
        to {
            transform: translateY(0);
            
           
         
             position: relative;
            
             visibility: visible;
        }
        
      }

            .artit {
               
                text-overflow: ellipsis;
                width: auto;
                display: flex;
            
                p.artist {
                    margin: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: auto;
                }
    
                span.artip {
                    display: flex;
                    float: right;
                    position: relative;
                    margin-left: auto;
                }
              
            }

            h3.titel {
                margin: 0;
            }


    }

    .btn-comm {
        background: linear-gradient(#ed6fda, #9f57dd);
        border-radius: 28px;
        border: none;
        box-shadow: 1px 2px 6px #505050;
        width: 50%;
        margin: auto;
        color: white;
        height: 3em;
        position: relative;
        display: block;
        margin-top: 4em;
        margin-bottom: 2em;
    }

    .btn-comm:hover {
        background: #9f9f9f;
    }

    footer.footer {
        background: #646464;
        height: 11em;
        padding: 1em;
    }


    table {

        tr:nth-child(odd) {
            background: $table_row_col
        }

        td:first-child {
            width: $first_col_width
        }

        th {
            background-color: $table_head_col;
        }

        border: 1px solid $table_bor_col;
    }

}
}