$myfont: 'roboto';
$table_head_col: #F7F7F7;
$table_row_col: #eee;
$table_bor_col: #eee;
$container_width: 100%;
$first_col_width: 150px;
@media screen and (min-width: 769.69px) {
body {
    margin: 0;
 

    /** header */
    ul.head {
        list-style-type: none;
        margin: auto;
        padding: 0;
        li {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

    i.fa-solid.fa-arrow-left {
        font-size: -webkit-xxx-large;
        color: black;
        margin-left: -7em;
        position: relative;
    }
        }
        img.logo {
            width: 20%;
          
            display: block;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        img.imgf {

            width: 100%;
            height: 318px;
            object-fit: cover;
            position: relative;
            object-position: center;

        }
    }

    /** header */
    /** contenaire general */
    div.container {
        margin: auto;
        font-family: "Roboto", sans-serif;
        background: #F7F7F7;
        min-height: 46em;
        padding: 1em 2em;
        display: block;
        position: relative;
        top: -3em;
        width: 80%;
        border-radius: 20px 20px 0 0;
        margin-bottom: -3em;

        .sous-containe {
            width: 70%;
            margin: auto;
        }

        h1 {
            font-family: "Shrikhand", cursive;
            font-style: italic;
            font-weight: bold;
            font-weight: 400;
            font-size: 28px;
            line-height: 41px;
            display: inline;
        }

        h2 {
            font-family: monospace;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 19px;
            text-transform: uppercase;
            border-bottom: 3px solid #99e2d0;
            width: 10%;
            padding: 7px 0px;
        }

        /** coeur */
        .coeur {
            display: contents;
        }

        .fa-regular.fa-heart {
            float: right;

            position: relative;
            display: block;
            font-size: 30px;


        }

        .fa-regular.fa-heart:checked {
            float: right;

            position: relative;
            display: block;
            font-size: 30px;
            opacity: 0;


        }

        .fa-sharp.fa-solid.fa-heart {
            float: right;
            right: 15px;
            position: relative;
            opacity: 0;
            display: none;

        }

        @keyframes taadaa {
            0% {
                opacity: 0;
                display: none;
            }

            100% {
                opacity: 1;
                display: block;
            }
        }

        #btnControl {
            display: none;
        }

        #btnControl:checked+label>.fa-sharp.fa-solid.fa-heart {
            float: right;
            right: 0px;
            position: relative;
            opacity: 1;
            display: block;
            font-size: 30px;
            background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
            background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
            background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: taadaa 3s;
            -webkit-animation: taadaa 3s;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
}

      

        #btnControl:checked+label>.fa-regular.fa-heart {
            display: none;
        }

        /** coeur */

    }

    /** contenaire general */
    /** block produit */

    .block-1 {
        animation-delay: 1s;

    }


    .block-2 {
        animation-delay: 2s;

    }

    .block-3 {
        animation-delay: 3s;
    }
    .block-4 {
        animation-delay: 4s;
    }
    .arti {
        background: #FFFFFF;
        padding: 1em;
        border-radius: 1em;
        box-shadow: 1px 3px 5px rgb(58 58 58 / 53%);
        margin-bottom: 1em;
        visibility: hidden;
        animation-name: shownom;
        animation-duration: 2s;
        height: 40px;
        animation-fill-mode: forwards;


        @keyframes shownom {
            0% {
                height: 40px;
                visibility: hidden;
                opacity: 0;
                transform: translateY(-4vh);
                -webkit-transform: translateY(-5vh);
                -moz-transform: translateY(-5vh);
                -ms-transform: translateY(-5vh);
                -o-transform: translateY(-5vh);
            }




            100% {
                margin-bottom: 1em;
                visibility: visible;
                opacity: 1;
                position: relative;
                transform: translateY(-0vh);
                -webkit-transform: translateY(-0vh);
                -moz-transform: translateY(-0vh);
                -ms-transform: translateY(-0vh);
                -o-transform: translateY(-0vh);
            }
        }

        .artit {
            text-overflow: ellipsis;
            width: auto;
            display: flex;
            font-size: 15px;

            p.artist {
                margin: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: auto;
            }

            span.artip {
                display: flex;
                float: right;
                position: relative;
                margin-left: auto;
            }
        }

        h3.titel {
            margin: 0;
            text-overflow: ellipsis;
            width: auto;
            display: flex;
            white-space: nowrap;
            overflow: hidden;
            font-size: 18px;
        }
    }

    .vali {
        visibility: initial;
    height: 73px;
    opacity: 0;
    position: absolute;
    width: 99%;
    top: 0px;

        
        @keyframes vali {
            0% {
        
        width:3%;
       
               
            }

            100% {
                
       
        width: 15%;
        
            }
            
        }
    }

    :hover.vali {
        animation: vali 3s;
        -webkit-animation: vali 3s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        visibility: visible;
        opacity: 1;
        float: right;
        height: 40px;
        width: 15%;
        background: #99E2D0;
        padding: 1em;
        top: -1em;
        position: relative;
        color: white;
        border-radius: 0px 16px 16px 0px;
        left: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
}

    i.fa-solid.fa-circle-check {
        font-size: 40px;
    }

    /** block produit */

    /** block button  */
    .btn-comm {
        background: linear-gradient(#ed6fda, #9f57dd);
        border-radius: 28px;
        border: none;
        box-shadow: 1px 2px 6px #505050;
        width: 35%;
        margin: auto;
        color: white;
        position: relative;
        display: block;
        margin-top: 4em;
        margin-bottom: 2em;
        height: 4em;

    }

    .btn-comm:hover {
        background: linear-gradient(#fac4f2, #9f57dd);
    }

    /** block button  */
    /** Footer  */
    footer.footer {
        padding: 1em;
        background: #353535;
        color: white;
        list-style-type: none;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        .block-log {
            
            img.logo-foo {
                fill: #ffffff;
                filter: invert(1);
                -webkit-filter: invert(1);
                width: 137px;
}
        }
        
        ul.foot {
            margin: 1em 0;
            list-style-type: none;
            color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            justify-content: flex-end;
            flex-wrap: nowrap;

            li {
                margin-right: 1em;

                .icon-lef {
                    margin-right: 10px;
                }
                a {
                    text-decoration: none;
                    color: white;
                    font-family: "Roboto";
                    margin-top: 1em;
                }
            }
        }
    }

    /** Footer  */
}

/** container */


/** body */

}
@media screen and (max-width: 769.69px) {

    html {
        height: 100%;
    }

    body {
        margin: 0 !important;
        margin: 0;
        padding: 0;
    }

    nav {
        height: auto;
    }

    ul.head {
        list-style-type: none;
        margin: auto;
        padding: 0;
        li {
            display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
        }
        img.logo {
            width: 40% !important;
            margin: 1em 18%;
            display: block;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        i.fa-solid.fa-arrow-left {
            font-size: xx-large;
            color: black;
            margin-left: 1em;
            position: relative;
        }
        img.imgf {
            width: 100%;
            height: 15em;
            object-fit: cover;
        }
    }


    div.container {
        margin: auto;
        font-family: 'Roboto', sans-serif;
        background: $table_head_col;
        min-height: 46em;
        padding: 1em 1em;
        border-radius: 40px 40px 0px 0px;
        -webkit-border-radius: 40px 40px 0px 0px;
        -moz-border-radius: 40px 40px 0px 0px;
        -ms-border-radius: 40px 40px 0px 0px;
        -o-border-radius: 40px 40px 0px 0px;
        width: auto;
        display: block;
        position: relative;
        top: 0em !important;
        width: auto !important;

        .sous-containe {
            width: auto !important;
            margin: auto;
        }

        h1 {

            font-family: 'Shrikhand', cursive;
            font-style: italic;
            font-weight: bold;
            font-weight: 400;
            font-size: 28px;
            line-height: 41px;
            display: inline;
        }

        /** coeur */
        .coeur {
            display: contents;
        }

        .fa-regular.fa-heart {
            float: right;

            position: relative;
            display: block;
            font-size: 30px;


        }

        .fa-regular.fa-heart:checked {
            float: right;

            position: relative;
            display: block;
            font-size: 30px;
            opacity: 0;


        }

        .fa-sharp.fa-solid.fa-heart {
            float: right;
            right: 15px;
            position: relative;
            opacity: 0;
            display: none;

        }

        @keyframes taadaa {
            0% {
                opacity: 0;
                display: none;
            }

            100% {
                opacity: 1;
                display: block;
            }
        }

        #btnControl {
            display: none;
        }

        #btnControl:checked+label>.fa-sharp.fa-solid.fa-heart {
            float: right;
            right: 0px;
            position: relative;
            opacity: 1;
            display: block;
            font-size: 30px;
            background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
            background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
            background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: taadaa 3s;
            -webkit-animation: taadaa 3s;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
}



        #btnControl:checked+label>.fa-regular.fa-heart {
            display: none;
        }

        /** coeur */
        h2 {
            font-family: monospace;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 19px;
            text-transform: uppercase;
            border-bottom: 3px solid #99e2d0;
            width: 10%;
            padding: 7px 0px;
        }

        .vali {
            visibility: initial;
            height: 73px;
            opacity: 0;
            position: absolute;
            width: 99%;
            top: 0px;
    
            
            @keyframes vali {
                0% {
            
            width:3%;
           
                   
                }
    
                100% {
                    
           
            width: 15%;
            
                }
                
            }
        }
    
        :hover.vali {
            animation: vali 3s;
            -webkit-animation: vali 3s;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            visibility: visible;
            opacity: 1;
            float: right;
            height: 40px;
            width: 15%;
            background: #99E2D0;
            padding: 1em;
            top: -1em;
            position: relative;
            color: white;
            border-radius: 0px 16px 16px 0px;
            left: 16px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
    
            i.fa-solid.fa-circle-check {
                font-size: xx-large;
                padding: 0px 6px;
            }


        }

        .block-1 {
            animation-delay: 1s;

        }


        .block-2 {
            animation-delay: 2s;

        }

        .block-3 {
            animation-delay: 3s;
        }
        .block-4 {
            animation-delay: 4s;
        }
        .arti {
            background: #FFFFFF;
            padding: 1em;
            border-radius: 1em;
            box-shadow: 1px 3px 5px rgb(58 58 58 / 53%);
            margin-bottom: 1em;
            visibility: hidden;
            animation-name: shownom;
            animation-duration: 2s;
            height: 40px;
            animation-fill-mode: forwards;


            @keyframes shownom {
                0% {
                    height: 40px;
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(-4vh);
                    -webkit-transform: translateY(-5vh);
                    -moz-transform: translateY(-5vh);
                    -ms-transform: translateY(-5vh);
                    -o-transform: translateY(-5vh);
                }




                100% {
                    margin-bottom: 1em;
                    visibility: visible;
                    opacity: 1;
                    position: relative;
                    transform: translateY(-0vh);
                    -webkit-transform: translateY(-0vh);
                    -moz-transform: translateY(-0vh);
                    -ms-transform: translateY(-0vh);
                    -o-transform: translateY(-0vh);
                }
            }



            .artit {

                text-overflow: ellipsis;
                width: auto;
                display: flex;
                font-size: 15px;

                p.artist {
                    margin: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: auto;
                }

                span.artip {
                    display: flex;
                    float: right;
                    position: relative;
                    margin-left: auto;
                }

            }

            .tit-blo {
                white-space: nowrap;
                text-overflow: ellipsis;
                width: auto;
                display: block;
                overflow: hidden;

                h3.titel {
                    margin: 0;
                    text-overflow: ellipsis;
                    width: auto;
                    display: flex;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 18px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: block;
                    overflow: hidden;
                }
            }

            h3.titel {
                margin: 0;
                text-overflow: ellipsis;
                width: auto;
                display: flex;
                white-space: nowrap;
                overflow: hidden;
                font-size: 18px;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                overflow: hidden;
            }

        }

        .btn-comm {
            background: linear-gradient(#ed6fda, #9f57dd);
            border-radius: 28px;
            border: none;
            box-shadow: 1px 2px 6px #505050;
            width: 50%;
            margin: auto;
            color: white;
            height: 3em;
            position: relative;
            display: block;
            margin-top: 4em;
            margin-bottom: 2em;
        }

        .btn-comm:hover {
            background: linear-gradient(#fac4f2, #9f57dd);
        }




        table {

            tr:nth-child(odd) {
                background: $table_row_col
            }

            td:first-child {
                width: $first_col_width
            }

            th {
                background-color: $table_head_col;
            }

            border: 1px solid $table_bor_col;
        }

    }

    footer.footer {
        padding: 1em;
        background: #353535;
        color: white;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;
        .block-log {
            
            img.logo-foo {
                fill: #ffffff;
                filter: invert(1);
                -webkit-filter: invert(1);
                width: 137px;
}
        }
        ul.foot {
            margin: 1em 0;
            list-style-type: none;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            flex-wrap: nowrap;

            li {
                margin: 15px 0px;
                .icon-lef {
                    margin-right: 10px;
                }
            }

            li a {
                text-decoration: none;
                color: white;
                font-family: 'Roboto';
                margin-top: 1em;
            }
        }


    }

}  
